keboola_facebook_extractor_homepage:
    path:     /hello/{name}
    defaults: { _controller: KeboolaFacebookExtractorBundle:Default:index }


keboola_facebook_extractor_token:
    path:     /token
    defaults: { _controller: KeboolaFacebookExtractorBundle:Default:token }

keboola_facebook_extractor_run:
    path:     /run
    defaults: { _controller: KeboolaFacebookExtractorBundle:Api:run }
    methods:  [POST]

keboola_facebook_extractor_run_options:
    path:     /run
    defaults: { _controller: KeboolaFacebookExtractorBundle:Api:options }
    methods:  [OPTIONS]

keboola_facebook_extractor_delete_config_options:
    path:     /configs/{configId}
    defaults: { _controller: KeboolaFacebookExtractorBundle:Api:options }
    methods:  [OPTIONS]

keboola_facebook_extractor_delete_config:
    path:     /configs/{configId}
    defaults: { _controller: KeboolaFacebookExtractorBundle:Api:deleteConfig }
    methods:  [DELETE]